{% extends 'base.html' %}



{% block content %}
<main class="container">
    <div class="starter-template">
        <h1>Welcome to Simple Social</h1>
    </div>
</main>


<!-- sign in -->
<!-- <main class="form-signin">
    <form>
      <h1 class="h3 mb-3 mt-5 fw-normal">Please sign in</h1>
  
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="user name">
        <label for="floatingInput">User name</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
      
      <button class="w-100 btn btn-lg btn-primary mt-5" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
  </main> -->
<!-- sign in -->

{% endblock %}