{% extends "posts/post_base.html" %}

{% load bootstrap4 %}

{% block post_content %}
<h4>Edit Post</h4>
<form method="POST" id="postEditForm" enctype="multipart/form-data">
	{% csrf_token %}
	{% bootstrap_form form %}
	<!-- <input required name="images" type="file" multiple > -->
    <p>
	{% buttons %}
		<button type="submit" class="btn btn-primary btn-large">Edit</button>
    <a href="{% url 'posts:single' username=user.username pk=object.pk %}" class="btn btn-light btn-large">Cancel</a>

	{% endbuttons %}
    </p>
</form>
{% endblock %}
